[Unit]
Description=Elixir Practice

[Service]
Type=simple
User=hw3user
Group=hw3user
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4790"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw3user/elixir-practice
ExecStart=/bin/bash /home/hw3user/elixir-practice/start.sh

[Install]
WantedBy=multi-user.target
